<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>
<script src="/js/functions.js"></script>

<body>

<div class="main content">

    <div class="quiz" id="quiz">
        <form name="form" class="box" method="post">
            <label for="name">Name:
                <input type="text" id="name" name="name" setting="name">
            </label>
            <div class="button" id="btn">
                Click me
            </div>
        </form>
    </div>
    <div id="test">
        haha
    </div>
</div>
</body>
</html>