<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>


<body>

<div class="main content">

    <div class="">
        <form name="form" class="box" method="post">
            <label for="name">Name:
                <input type="text" id="name" name="name" setting="name">
            </label>

            <label for="description">Description:
                <input type="text" id="description" name="description" setting="description">
            </label>

            <label for="is_public">Public:
                <input type="checkbox" id="is_public" name="is_public" setting="is_public" value="true">
            </label>
            <div class="button" id="btn">
                Click me
            </div>
        </form>
    </div>
</div>
</body>
</html>