<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>

<body>

<div class="main content">
    <div class="group">
        <h1> <%= group.name %></h1>
        <p> <%= group.description %></p>
    </div>
</div>
</body>
</html>