<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>

<body>

<div class="main content">
    <div class="group">
        <h1> <%= group.name %></h1>
        <p> <%= group.description %></p>

        <div class="delete">
            <div class="button" id="btn" setting="delete" loc="/delete">
                Delete
            </div>
        </div>

        <div class="leave">
            <div class="button" id="btn" setting="leave" loc="/leave">
                Leave
            </div>
        </div>
    </div>
</div>
</body>
</html>