<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>

<body>
<h1> Hello world</h1>
<div class="page header">
    <div>
        <h1> Welcome to Quiz </h1>
        <a>
            <div class="header button">
                <h1></h1>
            </div>
        </a>

        <a>
            <div class="header button colored">
                <h1></h1>
            </div>
        </a>
        <%- user.data && user.data.username %>
    </div>
</div>

<div class="main content">
    <div>
        <h1> Quizzes </h1>
    </div>
    <div class="">
        <div>

        </div>
    </div>
</div>
</body>
</html>