<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>


<body>
<h1> Hello world</h1>
<div class="page header">
    <div>
        <h1> Welcome to Quiz </h1>
       <div>
           <% if (user) { %>
               <a href="/auth/logout"> Sign out </a>
           <% } else { %>
               <a href="/auth/login"> Sign in </a>
               <a href="/auth/signup"> Sign up </a>
           <% } %>
       </div>
        <%= user && user.username %>
    </div>
</div>

<div class="main content">
    <div class="row quizzes">
        <h1> Quizzes </h1>
        <%renderQuizzes()%>
    </div>
    <div class="row groups">
        <div>

        </div>
    </div>
</div>
</body>
</html>

<%
 function renderQuizzes() {
    for (let i = 0; i < quizzes.length; i++) {
        const quiz = quizzes[i]
        if (!quiz) return %>
            <div class="item quiz">
                <div class="name">
                    <h3> <%=quiz.name%> </h3>
                </div>
                <div class="quiz-footer">

                </div>
            </div>

    <%}
 }

 function renderGroups() {

 }

 %>