<!DOCTYPE html>

<html lang="en">

<%- include('../partials/header.ejs') %>

<script src="/js/builder.js"></script>

<body>

<div class="main content">
    <div class="login">
        <div class="login-message">
            <h2> <%=message || ''%></h2>
        </div>

        <div class="">
            <form name="form" class="box" action="/auth/login" method="post">
                <label for="username">Username:
                    <input type="text" id="username" name="username" setting="username" required>
                </label>

                <label for="username">Password:
                    <input type="password" id="password" name="password" setting="password" required>
                </label>
            </form>
        </div>
    </div>
</div>
</body>
</html>