<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<body>

<div class="main content">

    <div class="login-container">
        <div class="login">
            <h1>Request reset password</h1>
            <label for="username">
                <input type="text" id="email" name="email" setting="email" placeholder="Email">
            </label>

            <button class="button" id="btn">
                Submit
            </button>

        </div>
    </div>
</div>
</body>
</html>
