<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>
<script src="/js/builder.js"></script>

<body>

<div class="main content">
    <div class="login">
        <div class="login-message">
            <h2> <%=message || ''%></h2>
        </div>

        <div class="">
            <form name="form" class="box" action="/auth/signup" method="post">
                <label for="email">Email:
                    <input type="email" id="email" name="email" autocomplete="true" setting="email">
                </label>
                <label for="username">Username:
                    <input type="text" id="username" name="username" setting="username">
                </label>

                <label>
                    Are you a teacher?
                    <input type="checkbox" id="is_teacher" name="is_teacher" autocomplete="false" setting="is_teacher">
                </label>

                <label for="username">Password:
                    <input type="password" id="password" name="password" setting="password">
                </label>
            </form>
        </div>
    </div>
</div>
</body>
</html>
