<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>

<body>

<div class="main content">

    <div class="signup-container">
        <div class="login">
            <h1>Sign up</h1>
            <label for="email">
                <input type="email" id="email" name="email" autocomplete="true" setting="email" placeholder="Email">
            </label>
            <label for="username">
                <input type="text" id="username" name="username" setting="username" placeholder="Username">
            </label>
            <label for="password">
                <input type="password" id="password" name="password" setting="password" placeholder="Password">
            </label>


            <button class="button" id="btn">
                Submit
            </button>
            <p>Already have an account? <span><a href="/auth/login">Login</a></span></p>
        </div>
    </div>
</div>
</body>
</html>
