<head>
    <title>Quiz | <%- pagetitle %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900,900italic" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="<%- pagetitle %> | Quiz">
    <meta name="description" content="">
    <meta property="og:title" content="<%- pagetitle %> | Quiz">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/icon.png">
    <meta property="keywords" content="">
    <meta charset="utf-8">
    <link href="/css/style.css" rel="stylesheet">
</head>