<nav class="navbar">
    <ul class="navbar-nav">

        <li class="nav-item">
            <a href="/" class="nav-link" id="item">
                <img alt src="https://img.icons8.com/cotton/2x/home--v2.png"/>
                <span class="link-text">Home</span>
            </a>
        </li>


        <%
        if (user.permissionLevel === 3) {%>
            <li class="nav-item">
                <a href="/admin" class="nav-link" id="item">
                    <img alt src="https://img.icons8.com/color/2x/security-configuration.png"/>
                    <span class="link-text">Admin</span>
                </a>
            </li>
        <% } %>


        <li class="nav-item" id="nav-profile">
            <% if (user) { %>
                <a href="user/<%= user.id %>" class="nav-link" id="item">
                    <img alt src="https://img.icons8.com/color/2x/test-account.png">
                   <span class="link-text"><%= user.username %></span>
                </a>
            <% } else { %>
                <a href="/auth/login" class="nav-link" id="item">
                    <img alt src="https://img.icons8.com/dusk/50/000000/settings.png"/>
                    <span class="link-text">Login</span>
                </a>
            <% } %>
        </li>
    </ul>
</nav>

<style>
    .navbar {
        z-index: 1;
        position: fixed;
        background-color: var(--bg-black);
        transition: width 600ms ease;
        overflow: hidden;
    }


    .navbar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .nav-item {
        width: 100%;
    }

    .nav-item:last-child {
        margin-top: auto;
    }

    #nav-profile img {
        border-radius: 100px;
    }
    .nav-link {
        display: flex;
        align-items: center;
        height: 5rem;
        text-decoration: none;
    }

    #item {
        filter: grayscale(100%) opacity(0.7);
    }

    .nav-link:hover, #item:hover {
        filter: grayscale(0%) opacity(1);
        background: var(--lighter-bg);
    }

    .link-text {
        display: none;
        margin-left: 1rem;
    }

    .nav-link img, nav-link a img {
        width: 2rem;
        min-width: 2rem;
        margin: 0 1.5rem;
    }
    @media only screen and (max-width: 600px) {
        .navbar {
            bottom: 0;
            width: 100%;
            position: fixed;
            height: 5rem;
        }

        .logo {
            display: none;
        }

        .navbar-nav {
            flex-direction: row;
            overflow: scroll;
        }

        .nav-link {
            justify-content: center;
        }

        main {
            margin: 0;
        }
    }

    @media only screen and (min-width: 600px) {
        .navbar {
            top: 0;
            width: 5rem;
            height: 100vh;
        }

        .navbar:hover {
            width: 16rem;
        }

        .navbar:hover .link-text {
            display: inline;
        }

        .navbar:hover .logo svg {
            margin-left: 11rem;
        }

        .navbar:hover .logo-text {
            left: 0px;
        }
    }
</style>